img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  font-size: 16px;
}

h4 {
  font-weight: bold;
}

.page_centrale {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.utile {
  width: 100%;
}

.hautdepage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  position: sticky;
  z-index: 1000;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  max-width: 1280px;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.contenu {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.footer {
  background-color: #443E3C;
}
.footer .contenufooter {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__liste {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listecontent {
  margin: 0.5rem 0;
}
.footer__listecontent:first-child {
  margin-top: 0;
}
.footer__listecontent:last-child {
  color: white;
  margin-bottom: 0;
}
.footer__mail {
  color: white;
  text-decoration: none;
}
.footer__mail:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

@keyframes apparition {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay-0 {
  animation-delay: 0.2s;
}

.delay-1 {
  animation-delay: 0.4s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes cercle {
  0% {
    position: absolute;
    transform: rotate(0deg);
    border-top: 30px solid #9356dc;
    opacity: 1;
    box-shadow: 5px 40px #99E2D0, 60px -16px #FF79DA;
  }
  50% {
    position: absolute;
    transform: rotate(360deg);
    border-top: 40px solid #ff79da;
    opacity: 0.95;
    box-shadow: 15px 10px #99e2d0, 20px -16px #acabab;
    border-radius: 50%;
  }
  74% {
    position: absolute;
    border-radius: 30%;
  }
  75% {
    position: absolute;
    transform: rotate(540deg);
    opacity: 0.9;
    box-shadow: 5px 10px #99e2d0, -20px 16px #acabab;
  }
  100% {
    position: absolute;
    border-radius: 50%;
    transform: rotate(720deg);
    border-top: 50px solid #9356dc;
    opacity: 0;
    box-shadow: 25px 35px #99e2d0, 10px 26px #acabab;
  }
}
@keyframes loader {
  0% {
    background-color: rgb(196, 195, 192);
  }
  25% {
    background-color: rgb(196, 195, 192);
  }
  50% {
    background-color: rgb(196, 195, 192);
  }
  80% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.5);
    visibility: hidden;
  }
}
.header--flecheretour {
  position: relative;
}
.header__fleche {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.restoimg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.pagemenu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #e6e6e6;
  z-index: 1;
  position: relative;
}
.pagemenu__content {
  padding: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagemenu__titre {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.positioncoeur {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menuintitule {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuintitule__coeur-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  background: #e6e6e6;
}
.menuintitule__coeur-heart--1 {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menuintitule__coeur-heart--1 .fa-heart {
  font-size: 1.75rem;
}
.menuintitule__coeur-heart--2 {
  transition-duration: 0.3s;
}
.menuintitule__coeur-heart--2:hover {
  opacity: 0%;
}
.menuintitule__coeur-heart--2 .fa-heart {
  font-size: 1.75rem;
}
.menuintitule .choixmenu {
  display: grid;
}
@media (min-width: 64rem) {
  .menuintitule .choixmenu {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.assiettes {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.assiettes__titre {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 18px;
}
.assiettes__titre::after {
  content: "";
  display: block;
  animation: progress 2s;
  animation-fill-mode: both;
  transform: scale(0);
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  animation: progress 2s;
  animation-fill-mode: both;
  transform: scale(0);
  position: absolute;
  left: 0;
  bottom: 0;
}

.assiettecard {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: apparition 5s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.assiettecard__intit {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.assiettecard__plat {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.assiettecard__accomp {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.assiettecard__prix {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0.5rem;
}
.assiettecard__check {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.assiettecard:hover .assiettecard__check {
  margin-right: -1rem;
}
.assiettecard__icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.assiettecard:hover .assiettecard__icon {
  transform: rotate(0);
}
.assiettecard__iconvisu {
  color: #99E2D0;
}

.delay-0 {
  animation-delay: 0, 9s;
}

.delay-1 {
  animation-delay: 1, 9s;
}

.delay-2 {
  animation-delay: 2, 9s;
}

.delay-3 {
  animation-delay: 3, 9s;
}

.delay-4 {
  animation-delay: 4, 9s;
}

.delay-5 {
  animation-delay: 5, 9s;
}

.delay-6 {
  animation-delay: 6, 9s;
}

.delay-7 {
  animation-delay: 7, 9s;
}

.delay-8 {
  animation-delay: 8, 9s;
}

.delay-9 {
  animation-delay: 9, 9s;
}

.boutonmenu {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.btnmenu {
  border: 0;
  padding: 0.75rem 3rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background: linear-gradient(#FF79DA, #9356DC);
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.btnmenu:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 2px 2px 20px black;
}

@keyframes apparition {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay-0 {
  animation-delay: 0.2s;
}

.delay-1 {
  animation-delay: 0.4s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes cercle {
  0% {
    position: absolute;
    transform: rotate(0deg);
    border-top: 30px solid #9356dc;
    opacity: 1;
    box-shadow: 5px 40px #99E2D0, 60px -16px #FF79DA;
  }
  50% {
    position: absolute;
    transform: rotate(360deg);
    border-top: 40px solid #ff79da;
    opacity: 0.95;
    box-shadow: 15px 10px #99e2d0, 20px -16px #acabab;
    border-radius: 50%;
  }
  74% {
    position: absolute;
    border-radius: 30%;
  }
  75% {
    position: absolute;
    transform: rotate(540deg);
    opacity: 0.9;
    box-shadow: 5px 10px #99e2d0, -20px 16px #acabab;
  }
  100% {
    position: absolute;
    border-radius: 50%;
    transform: rotate(720deg);
    border-top: 50px solid #9356dc;
    opacity: 0;
    box-shadow: 25px 35px #99e2d0, 10px 26px #acabab;
  }
}
@keyframes loader {
  0% {
    background-color: rgb(196, 195, 192);
  }
  25% {
    background-color: rgb(196, 195, 192);
  }
  50% {
    background-color: rgb(196, 195, 192);
  }
  80% {
    background-color: rgba(196, 195, 192, 0.5);
  }
  100% {
    background-color: rgba(196, 195, 192, 0.5);
    visibility: hidden;
  }
}
.pagevierge {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: white;
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader_animation {
  width: 180px;
  height: 180px;
  border: 10px solid #9356DC;
  border-radius: 50%;
  animation-name: cercle;
  animation-duration: 1.75s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.35, 0.36, 0.72, 0.72);
  animation-fill-mode: forwards;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 5px 10px #99E2D0, 60px -16px #FF79DA;
  z-index: 500;
}

#localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  position: relative;
  background-color: #eaeaea;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: inset 0px 2px 5px 0px #c4c3c0;
}
#localisation span {
  position: relative;
  right: 0.5em;
}
@media (min-width: 64rem) {
  #localisation {
    flex: 1;
    margin: 0;
  }
}

.intitule {
  padding: 1.25rem;
  background-color: #f6f6f6;
  text-align: center;
}
.intitule__titre {
  margin-bottom: 1.25rem;
  font-weight: bold;
}
.intitule__sugg {
  margin-bottom: 1.875rem;
}
.intitule__btn {
  display: block;
  width: max-content;
  margin: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #c4c3c0;
  padding: 1rem 1.25rem;
  font-weight: bold;
  transform: scale(1);
  transform: 400ms;
  opacity: 1;
}
.intitule__btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 2px 2px 20px black;
}
@media all and (min-width: 728px) {
  .intitule {
    height: auto;
    flex: 1;
  }
}
@media (min-width: 64rem) {
  .intitule {
    flex: 1;
    margin: 0;
  }
}

.function {
  padding: 2rem 1rem;
}
.function__titre {
  margin-top: 0;
}
.function__listechoix {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 64rem) {
  .function__listechoix {
    display: flex;
  }
}
.function__choix {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  cursor: pointer;
  display: flex;
  position: relative;
}
.function__choix:hover {
  background-color: #f0e6ed;
}
@media (min-width: 64rem) {
  .function__choix {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .function__choix:first-child {
    margin-left: 0.75rem;
  }
}
.function__choix:first-child {
  margin-top: 0;
}
.function__choix:last-child {
  margin-bottom: 0;
}
.function__choix::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.function__icon {
  margin-right: 1rem;
  color: #7e7e7e;
  cursor: pointer;
}
.function__icon:hover {
  color: #9356DC;
}

.restaurants {
  padding: 2rem 1rem;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  position: relative;
}

.resto {
  background-color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5%;
}

.card {
  height: 23.75rem;
  max-width: 37.5rem;
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 1.125rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #e6e6e6;
  box-shadow: 0 6px 6px #c4c4c4;
}
@media all and (min-width: 728px) {
  .card {
    min-width: 330px;
    width: 48%;
  }
}
.card__image {
  height: 18rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__badge_nouv {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.info {
  height: 4.25rem;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}
.info__label {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -0.5rem;
  margin-left: 1rem;
  text-transform: capitalize;
}
.info__label__coeur {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  background: #e6e6e6;
}
.info__label__coeur--1 {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info__label__coeur--1 .fa-heart {
  font-size: 1.75rem;
}
.info__label__coeur--2 {
  transition-duration: 0.3s;
}
.info__label__coeur--2:hover {
  opacity: 0%;
}
.info__label__coeur--2 .fa-heart {
  font-size: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
