// Couleurs
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$shadow-color: #c4c3c0;
// RESPONSIVE (A METTRE EN PLACE)
$breakpoints-responsive:(tablette:728px,mobile-med:500px,mobile-small:350px,desktop:1000px);
// END RESPONSIVE
$color_card: white;

